{#

/**
 * @file
 * Template file for scraping_module.
 */
#}

<div class="top-sticky-block-guidance">
  <p>
    <b>
      {#    {{ user.displayname }}#}
      {{ greeting }}
    </b>
    <br>
    {{ credit }}
  </p>
  <p>
  ChatGPTの回答の質と有用性を最大化するためには、ChatGPTに与える指示（プロンプト）が鍵となります。
  そこで重要になるのが、<b>プロンプトエンジニアリング</b>です。適切なプロンプトエンジニアリングを
  施すことによって、 ChatGPTはより具体的で有用な回答を提供することが可能になります。当サイトでは、
  様々な場面でご利用いただけるテンプレートとChatGPT他サービスを連携することで、{{ username }}快適に
  使っていただけるサービスを提供しております。(model: {{ model }})
  </p>
  <!--
  <p>OpenAIの本家ChatGPTサイトをご利用になりたい方は、こちら『<a href="/how-to-use-chatgpt">本家OpenAI ChatGPT使い方まとめ</a>』をご覧ください。</p>
  -->
{% if anonymous %}
{#{% else %}#}
  <p><b>当サービスをご利用いただくには、ユーザアカウントを登録していただく必要がございます。
    こちらの<a href ="/user/register">会員登録ページ</a>からユーザアカウントの新規登録をお願いします。</b></p>
  <p>法人向けパッケージ版もございます。詳細は、<a href="/package">こちら</a>をご覧ください。</p>

{#  <p>#}
{#  <b>#}
{#    こちらから<a href="/user/register">新規ユーザ登録</a>をしていただくと、当サイトのサービスをご利用いただけます。ご利用後はフィードバックにご協力いただければ幸いです。#}
{#  </b>#}
{#</p>#}
{% endif %}
  <p><b><font color="#fff8dc">当サイトはDrupal10をベースに新規開発した独自モジュールで動作しております。モジュールのカスタマイズおよび導入支援を承っております。Drupalに関するは技術情報こちら『<a href="/backyard">当サイトのバックヤード記事</a>』をご覧ください。</font></b></p>
  <hr>
</div>
